<div id="home" class="bg-light">


  <div class="row">
    <div class="col-12">

      <div class="card border-0 rounded-0">
        <div class="card-header border-0">
          <h3 class="card-title text-center m-2 border-0">all the ripples</h3>
        </div>
        <div class="card-body bg-light border-dark rounded-0">

          <ul id="example-list" class="list-group rounded-0">
            {{#each tracks}}
            <li data-id="{{this.dataValues.id}}" class="list-group-item border-light bg-light rounded-0">
              <div class="card border-dark rounded-0 flex d-flex">
                <div class="card-header border-dark"><a href="track/{{this.dataValues.id}}">
                    {{this.dataValues.title}}
                  </a></div>
                <div class="card-body bg-light">
                  {{this.dataValues.genre}} - {{this.dataValues.bpm}} bpm
                </div>
              </div>

              {{!-- <button class="btn btn-light  float-right delete rounded-0">ｘ</button> --}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>