<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Track</h5>
          <p>
            <strong>ID</strong>: {{id}}
          </p>
          <p>
            <p>
              <strong>Title</strong>: {{title}}</p>
            <p>
              <p>
                <strong>Instrument</strong>: {{instrument}}</p>
              <p>
                <p>
                  <strong>Length</strong>: {{length}}</p>
                <p>
                  <p>
                    <strong>genre</strong>: {{genre}}</p>
                  <p>
                    <p>
                      <strong>BPM</strong>: {{bpm}}</p>
                    <p>
                      <p>
                        <strong>Key Signature</strong>: {{key_signature}}</p>
                      <p>
                        <p>
                          <strong>Time Signature</strong>: {{time_signature}}</p>
                        <p>

                          <strong>Description:</strong> {{description}}</p>
                        <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>